body{
    background-color: #d9ef9f;
    margin:0 ;
    padding: 0;
}

nav {
    padding: 20px; /* Espaciado interno */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 40px; /* Espacio entre elementos de la lista */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #3c2a1e; /* Texto negro */
    text-decoration: none;
    letter-spacing: 2px; /* Espaciado entre letras */
    word-spacing: 10px;
}

nav ul li a:hover {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo al pasar el mouse */
    color: #fff; /* Cambio de color de texto al pasar el mouse */
}

/*SECCION INCIO*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.hero img {
    max-width: 100%;
    max-height: 100%; /* Ajustar el tamaño máximo de la imagen */
}

.hero h1 {
    font-size: 4rem;
    color: #3c2a1e;
    margin-top: 20px; /* Espacio entre la imagen y el texto */
}
.hero h3 {
    color: #3c2a1e;
}

/* SECCION QUIENES SOMOS */
.about-us {  
    font-family: "Roboto", sans-serif;
    font-weight: 500; 
    background-color: #d9ef9f;
    padding: 20px;
    text-align: center;
    display: flex; /* Usar flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-around; /* Distribuir los elementos uniformemente */
}

.about-us h2 {
    color: #3c2a1e; /* Color del título */
    font-size: 4rem;
    width: 100%; /* Asegurar que el título ocupe todo el ancho */
}

.about-us p {
    color: #3c2a1e; /* Color del texto */
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 100%; /* Asegurar que el texto ocupe todo el ancho */
}

.about-us img {
    border-radius: 20px;
    max-height: 500px;
    max-width: 100%; /* Establecer el ancho máximo de las imágenes */
    flex: 1 1 auto; /* Permitir que las imágenes se ajusten */
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .about-us img {
        max-width: 100%; /* Reducir el tamaño de las imágenes en pantallas más pequeñas */
    }
}


/* SECCION PRODUCTOS */

.categorias {
    background-image: url(./img/productos.png);
    background-size: cover;
    color: #d9ef9f; /* Color del título */
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 20px;
    display: flex; /* Utilizar flexbox */
    flex-wrap: wrap; /* Permitir que las categorías se envuelvan en una fila */
    justify-content: space-around; /* Distribuir las categorías uniformemente */
}

.categoria {
    color: #fff; /* Color del texto */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: calc(33.33% - 40px); /* Ajustar el ancho de la categoría para ocupar aproximadamente un tercio del espacio disponible */
}

.categoria img {
    border-radius: 10px;
    max-width: 100%; /* Ajustar el tamaño máximo de las imágenes */
    margin-bottom: 10px; /* Espacio entre las imágenes y el texto */
}

.categoria-info {
    flex: 1; /* El contenido se expandirá para ocupar el espacio disponible */
}

.productos-title {
    padding-top: 5%;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    color: #3c2a1e; /* Color del título */
    margin-top: 0; /* Eliminar el margen superior */
    text-align: center; /* Centrar el texto */
}

.categoria p {
    color: #d9ef9f;
    margin-bottom: 0; /* Eliminar el margen inferior */
}

.categoria h2 {
    color: #d9ef9f;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .categoria {
        flex-basis: calc(50% - 40px); /* En pantallas más pequeñas, ajustar el ancho de la categoría para ocupar aproximadamente la mitad del espacio disponible */
    }
}
